.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-container {
  position: absolute;
  top: 23rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

//h1 {
//  padding: 1.7rem;
//  color: #78ADB0;
//  text-shadow: 2px 2px #000000;
//}

