<div class="details-container">
  <h1>Search Assets</h1>
  <form [formGroup]="searchForm" (ngSubmit)="reloadAssets()">
    <div class="search">
      <input type="text" formControlName="search" placeholder="Search...">
      <button type="submit"><i class="material-icons" >search</i></button>
    </div>
  </form>

  <h1 *ngIf="assets.length === 0 && !noAssets">Loading</h1>
  <h1 *ngIf="noAssets">No Assets Found</h1>

  <div class="asset-cards" *ngIf="assets.length != 0">
    <div class="card" *ngFor="let asset of assets">
      <img src="https://images.unsplash.com/photo-1611488006001-eb993d4d2ec4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80"  width="150" height="150">
      <p>Name: {{asset.Name}}</p>
    </div>
  </div>
</div>
