<div class="profile">
  <h1>Profile</h1>
    <div class="profile-container">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1611488006001-eb993d4d2ec4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80"  width="150" height="150">
        <div>
          <h3>User: {{user}}</h3>
          <h3>Contributions: {{length}}</h3>
        </div>
      </div>
      <div class="tableCard">
        <h3><span>Assets</span></h3>
        <table class="profile-table">
          <thead>
          <tr>
            <th class="asset-name">Name</th>
            <th class="asset-description">Description</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of userAssets">
              <td class="asset-name" (click)="assetDetails(asset)">{{asset!.Name}}</td>
              <td class="asset-description">{{asset!.Description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
