.profile {
  position: absolute;
  min-width: 100vw;
}
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin:  auto;
  height: 90vh;
  width: 90vw;
  max-width: 1200px;
  min-width: 390px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: .5rem 0;
  border: 3px solid #000;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  min-width: 250px;
  min-height: 250px;
  max-height: 500px;

  .card div {
    display: flex;
    flex-direction: column;
  }
}

h3 {
  font-size: 1rem;
  padding: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: .5rem 0;
  border: 3px solid #000;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  min-width: 300px;
  min-height: 250px;
  max-height: 500px;

  .profileTable {
    border-radius: 25px;
    width: 100%;
    margin: 0 auto;
  }
}



h1 {
  position: relative;
  padding: 1.7rem;
  color: #78ADB0;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

img {
  margin: .5rem 0;
  border: 3px black solid;
  border-radius: 50%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

tr, th, td {
  font-size: 1rem;
  padding: .5rem;
  text-align: left;
}

td {
  border: 3px black solid;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

.asset-name {
  width: 15rem;
}

.asset-description {
  width: 50rem;
}

tr:nth-child(even) {
  background: #CCC;
}

tr:nth-child(odd) {
  background: #FFF;
}
table tbody {
  height:300px;
  border-collapse: collapse;
  overflow-y:scroll;
  display:block;
}

table thead {
  display:block;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: #555555;
}

@media screen and (min-width: 900px) {
  .profile-container {
    flex-direction: row;
  }

  .card, .tableCard {
    margin: .5rem;
  }

  .card {
    flex-direction: column;
  }
}
