.profile {
  position: absolute;
  min-width: 100vw;
}
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin:  auto;
  height: 90vh;
  width: 90vw;
  max-width: 1200px;
  min-width: 390px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: .5rem 0;
  border: 3px solid #627A8C;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  min-width: 400px;
  max-height: 700px;

  .card div {
    display: flex;
    flex-direction: column;
  }
}

h3 {
  font-size: 1rem;
  padding: 1rem;
  word-wrap: break-word;
  color: #78ADB0;
  text-shadow: 1px 1px #000000;
}

.tableCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: .5rem 0;
  border: 3px #627A8C solid;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  min-width: 400px;
  min-height: 500px;
  max-height: 700px;

  .profileTable {
    width: 100%;
    max-height: 350px;
    margin: 0 auto;
  }
}



h1 {
  position: relative;
  padding: 1.7rem;
  color: #78ADB0;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

img {
  margin: .5rem 0;
  border: 3px #627A8C solid;
  border-radius: 50%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

th, tr, td {
  font-size: 1rem;
  padding: .5rem;
  text-align: left;
}


.asset-name {
  font-weight: bold;
  width: 15rem;
  background: none;
  text-align: center;
}

tbody .asset-name {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #FFFFFF;
  }
}

.asset-description {
  width: 50rem;
  background: none;
}

tr:nth-child(even) {
  color: #414a4c;
  text-shadow: 1px 1px #000000;
  background: #78ADB050;
}

tr:nth-child(odd) {
  color: #78ADB0;
  text-shadow: 1px 1px #000000;
  background: #414a4c50;
}

tbody {
  height: auto;
  border-collapse: collapse;
  overflow-y:scroll;
  display:block;
  margin: 1rem 0;
  padding: 1rem;
  border: 3px #627A8C solid;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

table thead {
  display:block;
  border: 3px #627A8C solid;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: #555555;
}

@media screen and (min-width: 900px) {
  .profile-container {
    flex-direction: row;
  }

  .card, .tableCard {
    margin: .5rem;
  }

  .card {
    min-width: 350px;
    flex-direction: column;
  }
}
