.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 500px;
  min-height: 300px;
  border: 3px #627A8C solid;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  padding: 1rem 0 0;
}

app-image-upload {
  width: 40%;
}

#Name-Input{
  border: 3px #000000 solid;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 25px;
}

#Description-Input{
  border: 3px #000000 solid;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
  width: 100%;
  height: 15rem;
  border-radius: 25px;
  padding: 1rem;
}

h1 {
  padding: 1.7rem;
}
