<div id="asset-post" class="container">
  <form id="asset-post-form" [formGroup]="assetForm">
    <input id="Name-Input" type="text" value="Name" formControlName="name" placeholder="Name of asset">
    <textarea id="Description-Input" formControlName="description" placeholder="Description of asset"></textarea>

    <ng-container formArrayName="engineVer">
      <div *ngFor="let engine of engineVer; let i = index">
        <input type="checkbox" id="{{'engine' + i}}" [formControlName]="i">
        <label for="{{'engine' + i}}">{{engineStrings[i]}}</label>
      </div>
    </ng-container>
    <app-image-upload></app-image-upload>
    <app-asset-upload></app-asset-upload>

    <button type="button" (click)="postAsset()">Submit</button>
  </form>
  <h1 *ngIf="uploading">Asset Uploading... (Please wait for redirect)</h1>
</div>
