<div class="post-container">
  <h1>Asset Posts</h1>
  <div id="asset-post" class="container">
    <form id="asset-post-form" [formGroup]="assetForm">
        <input id="Name-Input" type="text" value="Name" formControlName="name" placeholder="Name of asset" (change)="inputNameIsEmpty()">
      <div>
        <p *ngIf="inputDefined == false" id="name-error">* Name needed</p>
      </div>
        <textarea id="Description-Input" formControlName="description" placeholder="Description of asset" (change)="descriptionIsEmpty()"></textarea>
      <div>
        <p *ngIf="descriptionDefined == false" id="description-error">* Description needed</p>
      </div>

      <ng-container formArrayName="engineVer">
        <div class="flex-container">
          <div *ngFor="let engine of engineVer; let i = index">
            <input type="checkbox" id="{{'engine' + i}}" [formControlName]="i">
            <label for="{{'engine' + i}}">{{engineStrings[i]}}</label>
          </div>
        </div>
      </ng-container>
      <div class="button-container">
        <app-image-upload></app-image-upload>
        <app-asset-upload></app-asset-upload>
      </div>
      <button type="button" (click)="postAsset()">Submit</button>
    </form>
    <h3 *ngIf="uploading">Asset Uploading... (Please wait for redirect)</h3>
  </div>
</div>
