
.asset-name{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
}
.asset-description{
  display: flex;
  justify-content: center;
  align-content: center;
}

.asset-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

