<div class="flex-nav">
  <div class="logo">
    <div (animationend)="toggleMenu()">
      <a href="/"><img id="logo" src="/assets/CelticsAssetManagement.png"></a>
    </div>
  </div>
  <div id="nav-bar-dropdown-menu">
    <div id="nav-icon" [className]="shown ? 'shown' : 'open'" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="nav-dropdown-menu-options" [className]="shown ? 'shown' : 'open'" (click)="toggleMenu()">
        <ng-template [ngIf]="loggedin" [ngIfElse]="loggedout">
          <div class="nav-dropdown-menu-options-items" *ngFor="let option of menuOpts" (click)="onClickOption(option)">
            <div class="btn" *ngIf="option.state != pageState.LOGIN">{{ option.label }} <fa-icon [icon]="option.icon"></fa-icon></div>
          </div>
        </ng-template>
        <ng-template #loggedout>
          <div class="nav-dropdown-menu-options-items" *ngFor="let option of menuOpts" (click)="onClickOption(option)">
            <div class="btn" *ngIf="option.state != pageState.LOGOUT && option.state != pageState.PROFILE">{{ option.label }} <fa-icon [icon]="option.icon"></fa-icon></div>
          </div>
        </ng-template>
    </div>
  </div>
</div>

