<div class="flex-nav">
  <div class="logo">
    <div (animationend)="toggleMenu()">
      <h4>{{ 'Celtics Asset Management' }}</h4>
    </div>
  </div>
  <div id="nav-bar-dropdown-menu">
    <div id="nav-icon" [className]="shown ? 'shown' : 'open'" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--TODO: needs to be conditional if the user is logged in or not-->
    <div id="nav-dropdown-menu-options" [className]="shown ? 'shown' : 'open'" (click)="toggleMenu()"
         *ngFor="let option of menuOpts" (click)="onClickOption(option)">
      <div id="nav-dropdown-menu-options-items">
          <div class="btn">{{ option.label }} <fa-icon [icon]="option.icon"></fa-icon></div>
      </div>
    </div>
  </div>
</div>

