#files {
  visibility: hidden;

}

#files {
  width: 10px;
}

.btn {
  text-decoration: none;
  background-color: rgb(92 92 92);
  color: rgb(255 255 255);
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;

  &:hover{
    background-color: #EEEEEE;
    color: #333333;
  }

  &:active{
    background-color: rgb(92 92 92);
    color: rgb(255 255 255);
  }
}

.inline {
 display: inline;
}
