<div class="tableCard">
  <form>
    <div class="inline">
      <label for="files" class="btn">Upload asset zip</label>
      <input id="files" type="file" class="file-upload" (click)="(resetInputValue($event))" (change)="addAsset($event)"
             accept="application/zip">
      <p *ngIf="fileNeeded" id="asset-file-error">* File needed for upload</p>
    </div>
  </form>

  <div *ngIf="file != undefined">
    <div class="asset-div">
      <button (click)="removeFile()">
        <fa-icon [icon]="removeFileIcon"></fa-icon>
      </button>
      <p class=" asset">{{file?.name}}</p>
    </div>
  </div>
</div>
