#files {
  visibility: hidden;
  width: 10px;
}
#asset-file-error{
  color: red;
  font-style: italic;
}


.btn {
  padding: .3rem .8rem;
  color: #627A8C;
  cursor: pointer;
  border-radius: 25px;
  background: #78ADB0;
  text-shadow: .5px .5px #000000;
  border:  3px #627A8C solid;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);

  &:hover{
    background: #FFFFFF;
    color: #627A8C;
    text-shadow: .5px .5px #000000;
    box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
    border:  3px #627A8C solid;
  }
}

.inline {
  display: inline;
}
