#image-file-error{
  color: red;
  font-style: italic;
}

#ImageUploads {
  visibility: hidden;
}

.btn {
  padding: .3rem 1.7rem;
  color: #627A8C;
  cursor: pointer;
  border-radius: 25px;
  background: #78ADB0;
  text-shadow: .5px .5px #000000;
  border:  3px #627A8C solid;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
  white-space: nowrap;
  margin: 22px;

  &:hover{
    background: #FFFFFF;
    color: #627A8C;
    text-shadow: .5px .5px #000000;
    box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
    border:  3px #627A8C solid;
  }
}

.imagebox {
  border: 3px solid #736b5e;
  position: relative;
  border-radius: 1em;
  width: 10em;
  height: auto;
}

.image-div {
  padding: 0 0.2rem .4rem;
}

img {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 200px;
  z-index: 0;
  border-radius: 25px;
  border: #627A8C;
}

button {
  color: #627A8C;
  border-radius: 25px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background: #78ADB0;
  text-shadow: .5px .5px #000000;
  border:  3px #627A8C solid;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);

  &:hover {
    background: #FFFFFF;
    color: #78ADB0;
    text-shadow: .5px .5px #000000;
    border:  3px #627A8C solid;
  }
}
