.navbar {

  cursor: default;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  h1 {
    position: fixed;
    display: inherit;
    font-size: 1.5em;
    font-weight: bold;
    color: #fce689;
    margin: 0;
  }
  ul {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 1em;
    li {
      display: inline;
      a {
        background-color: inherit;
        float: left;
        text-decoration: none;
        color: #ffe7d0;
        padding: 10.5px 11px;
        &:hover {
          cursor: pointer;
          background-color: #62a466;
        }
      }
      .current {
        color: white;
        background-color: #5FD367;
      }
    }
  }

  //#nav-dropdown-menu-options {
  //  display: contents;
  //  &.open {
  //    display: none;
  //    position: relative;
  //  }
  //}
}

//.navbar {
//
//  cursor: default;
//  position: absolute;
//  top: 0;
//  width: 100%;
//  background-color: rgba(0, 0, 0, 0.4);
//
//  h1 {
//    font-size: 1.5em;
//    font-weight: bold;
//    color: #fce689;
//  }
//  ul {
//    position: absolute;
//
//    li {
//      display: inline;
//      a {
//        background-color: inherit;
//        float: left;
//        text-decoration: none;
//        color: #ffe7d0;
//        padding: 10.5px 11px;
//        &:hover {
//          cursor: pointer;
//          background-color: #62a466;
//        }
//      }
//      .current {
//        color: white;
//        background-color: #5FD367;
//      }
//    }
//  }
//  #navbar-icon {
//
//    $size: 3;
//    float: left;
//    width: calc(60px / #{$size});
//    height: calc(45px / #{$size});
//    margin: 1rem;
//    transform: rotate(0deg);
//    cursor: pointer;
//
//    span {
//      display: block;
//      position: absolute;
//      height: calc(4px / #{$size});
//      width: 100%;
//      background: #fce689;
//      border-radius: calc(9px / #{$size});
//    }
//    span:nth-child(1) {
//      top: 0px;
//    }
//    span:nth-child(2), span:nth-child(3) {
//      top: calc(18px / #{$size});
//    }
//    span:nth-child(4) {
//      top: calc(36px / #{$size});
//    }
//    &.open span:nth-child(1) {
//      top: calc(18px / #{$size});
//      width: 0%;
//      left: 50%;
//    }
//    &.open span:nth-child(2) {
//      transform: rotate(45deg);
//    }
//    &.open span:nth-child(3) {
//      transform: rotate(-45deg);
//    }
//    &.open span:nth-child(4) {
//      top: calc(18px / #{$size});
//      width: 0%;
//    }
//  }
//
//  #nav-dropdown-menu-options {
//    display: none;
//    &.open {
//      display: contents;
//    }
//  }
//
//}

