
<nav class="navbar">
  <h1>{{title}}</h1>
  <!--  <a><img src="/src/assets/CelticsAssetManagementThumbnail.png" alt=""></a>-->
  <div id="nav-dropdown-menu-options" [className]="shown ? 'shown' : 'open'" (click)="toggleMenu()">
    <ul>
      <ng-template [ngIf]="loggedin" [ngIfElse]="loggedout">
        <li *ngFor="let option of menuOpts" (click)="onClickOption(option)">
        <a *ngIf="option.state != pageState.LOGIN">
          <fa-icon [icon]="option.icon"></fa-icon>
          {{ option.label + " "}}
        </a>
      </li>
      </ng-template>
      <ng-template #loggedout>
        <li *ngFor="let option of menuOptsLoggedOut" (click)="onClickOption(option)">
          <a *ngIf="option.state != pageState.LOGOUT">
            <fa-icon [icon]="option.icon"></fa-icon>
            {{ option.label + " "}}
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
