<!DOCTYPE html>
<html>
<head>
  <!-- **DO THIS**: -->
  <!--   Replace SDK_VERSION_NUMBER with the current SDK version number -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-SDK_VERSION_NUMBER.js"></script>
  <script src="../../resources/s3_photoExample.js"></script>
  <script>
    function getHtml(template) {
      return template.join('\n');
    }
    listAlbums();
  </script>
  <title>user-operations</title>
</head>
<body>
<h1>My Photo Albums App</h1>
<div id="app"></div>
</body>
</html>
